# Python
__pycache__/
*.py[cod]
*.pyc
.Python
.venv
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Environment variables
.env
.envrc

# Generated results
result/

# OS
.DS_Store
Thumbs.db
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
